<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lucero
    </ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="../calculator">Calculator</ion-button>
      <ion-button routerLink="../recetas">Recetas</ion-button>
      <ion-button routerLink="../converter">Converter</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="../../assets/axlFoto.jpg" title="No nos abandones Axl!" class="img">
    <p>Tributo para Axl by Lucero</p>
    <p>enjoy!</p>
  </div>
</ion-content>
